

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header row">
        <div class="col-md-6">
          <h4 class="card-title text-right">{{'UsersTable' | translate}}</h4>

        </div>
        <div class="card-btn col-md-6">
          <button type="button" class="btn btn-primary btn-round " routerLink="/AddUsers">{{'AddUsers' |
            translate}}</button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table text-center">
            <thead class=" text-primary">
              <th>
                #
              </th>
              <th>
                {{'Name' | translate}}
              </th>
              <th>
                {{'Email' | translate}}

              </th>
              <th>
                {{'Phone' | translate}}

              </th>
              <th>
                {{'role' | translate}}

              </th>
              <th>
                {{'Image' | translate}}

              </th>
              <th>
                {{'Edit' | translate}}

              </th>
              <th>
                {{'Delete' | translate}}
              </th>
            </thead>
         
            <tbody>
              <tr *ngFor="let Users of Userslist">
                <td>
                  {{Users.id}}
                </td>
                <td>
                  {{Users.name}}
                </td>
                <td>
                  {{Users.email}}
                </td>
                <td>
                  {{Users.phone}}
                </td>
                <td>
                  {{Users.role}}
                </td>
                <td>
                  <img src="{{Users.image}}" onerror="this.src = 'assets/img/image-gallery.png';" width="50" height="50">
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-round" >{{'Edit' | translate}}</button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger btn-round" >{{'Delete' | translate}}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>