<div class="wrapper" (click)="get()" dir="{{dir}}"
 style="    font-family: 'Cairo', sans-serif !important; ">
    <div class="sidebar" data-color="black" data-active-color="primary"
    [ngClass]="{ 'sidebaren': currentLang1 === 'en' }" >
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panelen" [ngClass]="{ 'main-panel': currentLang1 === 'ar' }" >
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp></footer-cmp>
    </div>
</div>
<!-- <fixedplugin-cmp></fixedplugin-cmp> -->
