<div class="col-12">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">{{'Addproductlist' | translate }}</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="form" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>{{'Name' | translate }}</label>
              <input type="text" class="form-control" placeholder="{{'Name' | translate }}"
                [formControl]="form.controls['Name']">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>{{'OwnerName2' | translate }}</label>
              <input type="text" class="form-control" placeholder="{{'OwnerName2' | translate }}"
                [formControl]="form.controls['OwnerName']">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>{{'Phone' | translate }}</label>
              <input type="text" class="form-control" placeholder="{{'Phone' | translate }}"
                [formControl]="form.controls['phone']">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>{{'location' | translate }}</label>
              <input type="text" class="form-control" placeholder="{{'location' | translate }}"
                [formControl]="form.controls['location']">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="sel1">{{'categorieslist' | translate }}</label>
              <select class="form-control" id="sel1" (change)="getcategorieslistid($event)">
                <optgroup label="{{'categorieslist' | translate }}">
                  <option value="" selected disabled hidden>{{'categorieslist' | translate }}</option>
                  <option *ngFor="let field of fieldslist" id="{{field.id}}">{{field.name}}
                  </option>
                </optgroup>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="sel1">{{'status' | translate }}</label>
              <select class="form-control" id="sel1" (change)="GetStatus($event)">
                <optgroup label="{{'status' | translate }}">
                  <option value="" selected disabled hidden>{{'status' | translate }}</option>
                  <option value="on">On</option>
                  <option value="off">Off</option>
                </optgroup>
              </select>
            </div>
          </div>
        </div>
 
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>{{'details' | translate }}</label>
              <textarea
                class="form-control textarea" [formControl]="form.controls['details']"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-12 ">
            <!-- <img [src]="url" onerror="this.src = 'assets/img/image-gallery.png';" width="150" height="150"
              class="img-thumbnail" style=" margin-right: 30%;">
            <br /> -->
            <label class="form-label" for="customFile">{{'profilephoto' | translate }} </label>
            <input type="file" class="form-control" id="customFile" (change)="onFileSelected($event)" />
          </div>
        </div>
        <div class="row text-center">
          <div class="update ml-auto mr-auto">
            <button type="button" class="btn btn-primary btn-round" (click)="Addmarketform()">{{'Addproductlist' |
              translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>