<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header row">
        <div class="col-md-6">
          <h4 class="card-title  text-right ">{{'Managers' | translate}}</h4>

        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="overflow: scroll;">
          <table class="table text-center over" > 
            <thead class=" text-primary">
              <th>
                #
              </th>
              <th>
                {{'Name' | translate}}
              </th>
              <th>
                {{'Email' | translate}}

              </th>
              <th>
                {{'Phone' | translate}}

              </th>
              <th>
                {{'Image' | translate}}

              </th>
            </thead>
            <tbody>

              <tr>
                <td>
                  1
                </td>
                <td>
                  عمر المنشاوي
                </td>
                <td>
                  omar1996210@gmail.com
                </td>
                <td>
                  0103003290
                </td>
                <td>
                  <img src="gfdg" onerror="this.src = 'assets/img/image-gallery.png';" width="50" height="50">
                </td>
              </tr>

              <tr>
                <td>
                  2
                </td>
                <td>
                    علاء عبدالحفيظ
                </td>
                <td>
                  Alaa@gmail.com
                </td>
                <td>
                  0103213103
                </td>
                <td>
                  <img src="gfdg" onerror="this.src = 'assets/img/image-gallery.png';" width="50" height="50">
                </td>
              </tr>
              
              <tr>
                <td>
                  3
                </td>
                <td>
                  محمود حامد
                </td>
                <td>
                  MH@gmail.com
                </td>
                <td>
                  010321321312
                </td>
                <td>
                  <img src="gfdg" onerror="this.src = 'assets/img/image-gallery.png';" width="50" height="50">
                </td>
              </tr>

  <!--             <tr *ngFor="let Admin of Adminlist">
                <td>
                  {{Admin.id}}
                </td>
                <td>
                  {{Admin.name}}
                </td>
                <td>
                  {{Admin.email}}
                </td>
                <td>
                  {{Admin.phone}}
                </td>
                <td>
                  <img src="{{Admin.image}}" onerror="this.src = 'assets/img/image-gallery.png';" width="50" height="50">
                </td>
              </tr>
 -->


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>