<div class="col-12">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">{{'updateproduct' | translate }}</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="form" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>{{'Name' | translate }}</label>
              <input type="text" class="form-control" placeholder="{{'Name' | translate }}"
                [formControl]="form.controls['Name']">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>{{'details' | translate }}</label>
              <textarea
                class="form-control textarea" [formControl]="form.controls['details']"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="sel1">{{'categorieslist' | translate }}</label>
              <select class="form-control" id="sel1" (change)="getcategorieslistid($event)" [formControl]="form.controls['categorieslist']">
                <optgroup label="{{'categorieslist' | translate }}">
                  <option value="" selected disabled hidden>{{'categorieslist' | translate }}</option>
                  <option *ngFor="let categories of categorieslist" id="{{categories.id}}" >{{categories.name}}
                  </option>
                </optgroup>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="sel1">{{'ShopsList' | translate }}</label>
              <select class="form-control" id="sel1" (change)="getShopsListid($event)" [formControl]="form.controls['ShopsList']">
                <optgroup label="{{'ShopsList' | translate }}">
                  <option value="" selected disabled hidden>{{'ShopsList' | translate }}</option>
                  <option *ngFor="let markets of marketslist" id="{{markets.id}}">{{markets.title}}
                  </option>
                </optgroup>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>{{'price' | translate }}</label>
              <input type="number" class="form-control" placeholder="{{'price' | translate }}"
                [formControl]="form.controls['price']">
            </div>
          </div>
          <div class=" col-md-8 ">
            <!-- <img [src]="url" onerror="this.src = 'assets/img/image-gallery.png';" width="150" height="150"
              class="img-thumbnail" style=" margin-right: 30%;">
            <br /> -->
            <label class="form-label" for="customFile">{{'profilephoto' | translate }} </label>
            <input type="file" class="form-control" id="customFile" (change)="onFileSelected($event)"  />
          </div>
        </div>
        <div class="row text-center">
          <div class="update ml-auto mr-auto">
            <button type="button" class="btn btn-primary btn-round"(click)="updateproductlistform()" >{{'Addproductlist' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>